In [17]:
import sqlite3
import pandas as pd

conn = sqlite3.Connection('car_sales.db')

df = pd.read_csv('Online_Cars_Sale_Marketplace_Data.csv')
df.to_sql('car_sales', conn, if_exists='replace', index=False)

In [80]:
# Question 1: Most popular car listing

q1 = """
SELECT Year, 
Make, 
Model, 
AVG(ConsumerRating) AS ConsumerRating, 
ConsumerReviews, 
SellerRating, 
COUNT(Model) AS total_listings
FROM car_sales
GROUP BY Model
ORDER BY ConsumerRating DESC, ConsumerReviews DESC, total_listings ASC
LIMIT 10
;
"""

pd.read_sql(q1,conn)

,Year,Make,Model,ConsumerRating,ConsumerReviews,SellerRating,total_listings
0,2021,Hyundai,Kona SEL Plus,5.0,48,4.8,1
1,2021,Honda,Accord Sport 2.0T,5.0,36,4.0,2
2,2018,Cadillac,Escalade ESV Luxury,5.0,11,4.8,6
3,2020,Mercedes-Benz,E-Class E 450 4MATIC,5.0,10,4.8,1
4,2019,Mercedes-Benz,GLS 450 4MATIC,5.0,10,4.6,2
5,2019,Mercedes-Benz,AMG GLE 43 4MATIC Coupe,5.0,10,4.5,21
6,2020,Cadillac,Escalade Platinum,5.0,9,4.5,3
7,2016,INFINITI,Q70 3.7X,5.0,8,4.7,1
8,2020,GMC,Sierra 3500 Denali,5.0,8,4.4,1
9,2021,Audi,Q3 45 S line Premium,5.0,8,4.6,16

In [79]:
# Popular car listings, this is determined by amount of consumer reviews and total cousumer rating
# with a factor of total availability

q2 = """
SELECT Year, 
Make, 
Model, 
CAST(AVG(ConsumerRating) AS DECIMAL (10,2)) AS ConsumerRating, 
ConsumerReviews, 
SellerRating, 
COUNT(*) AS total_listings
FROM car_sales
GROUP BY Model
ORDER BY ConsumerReviews DESC, ConsumerRating DESC, total_listings ASC
LIMIT 10
;
"""

pd.read_sql(q2,conn)

,Year,Make,Model,ConsumerRating,ConsumerReviews,SellerRating,total_listings
0,2018,Ford,F-150 XL,4.800000,817,4.4,7
1,2018,Ford,F-150 Lariat,4.785714,817,4.8,56
2,2017,Honda,CR-V Touring,4.761905,803,4.7,21
3,2018,Toyota,Camry XLE,4.750000,781,4.2,2
4,2018,Toyota,RAV4 XLE,4.750704,770,3.3,71
5,2018,Toyota,RAV4 Limited,4.709677,770,4.7,31
6,2017,Honda,Civic EX,4.800000,743,4.2,11
7,2018,Honda,Accord Touring 2.0T,4.933333,652,4.6,3
8,2018,Honda,Accord EX-L 2.0T,4.800000,652,4.7,3
9,2018,Honda,Accord EX,4.766667,652,4.9,3