In [97]:
#What is the most popular car listing on this platform?

# 2021 HYUNDAI KONA SEL PLUS
# OR
# 2018 FORD F-150 XL

In [20]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("car_sales.db")

df = pd.read_csv("Online_Cars_Sale_Marketplace_Data.csv")
df.to_sql("car_sales", conn, if_exists="replace", index=False)

9379

In [53]:
q0 = """
SELECT *
FROM car_sales
Limit 5
"""

pd.read_sql(q0,conn)

,Year,Make,Model,Used/New,Price,ConsumerRating,ConsumerReviews,SellerType,SellerName,SellerRating,...,InteriorColor,Drivetrain,MinMPG,MaxMPG,FuelType,Transmission,Engine,VIN,Stock#,Mileage
0,2019,Toyota,Sienna SE,Used,"$39,998",4.6,45,Dealer,CarMax Murrieta - Now offering Curbside Pickup...,3.3,...,Black,Front-wheel Drive,19,27,Gasoline,8-Speed Automatic,3.5L V6 24V PDI DOHC,5TDXZ3DC2KS015402,22998646,29403
1,2018,Ford,F-150 Lariat,Used,"$49,985",4.8,817,Dealer,Giant Chevrolet,4.8,...,Black,Four-wheel Drive,19,24,Gasoline,10-Speed Automatic,3.5L V6 24V PDI DOHC Twin Turbo,1FTEW1EG2JFD44217,22418A,32929
2,2017,RAM,1500 Laramie,Used,"$41,860",4.7,495,Dealer,Gill Auto Group Madera,4.6,...,Black,Four-wheel Drive,15,21,Gasoline,8-Speed Automatic,5.7L V8 16V MPFI OHV,1C6RR7VT5HS842283,NG277871G,23173
3,2021,Honda,Accord Sport SE,Used,"$28,500",5.0,36,Dealer,AutoSavvy Las Vegas,4.6,...,–,Front-wheel Drive,29,35,Gasoline,Automatic CVT,1.5L I4 16V GDI DOHC Turbo,1HGCV1F49MA038035,54237,10598
4,2020,Lexus,RX 350,Used,"$49,000",4.8,76,Dealer,Lexus of Henderson,4.8,...,Birch,Front-wheel Drive,20,27,Gasoline,8-Speed Automatic,3.5L V6 24V PDI DOHC,2T2AZMAA8LC156270,HDT4181A,28137

In [93]:
#Based on highest Consumer Rating > Consumer Reviews > Total Listings
q1 = """
SELECT Year, 
Make, 
Model, 
CAST(AVG(ConsumerRating) AS DECIMAL (10,2)) AS ConsumerRating, 
ConsumerReviews, 
SellerRating, 
COUNT(*) AS total_listings
FROM car_sales
GROUP BY Model
ORDER BY ConsumerRating DESC, ConsumerReviews DESC, total_listings ASC
;
"""

pd.read_sql(q1,conn)

,Year,Make,Model,ConsumerRating,ConsumerReviews,SellerRating,total_listings
0,2021,Hyundai,Kona SEL Plus,5.0,48,4.8,1
1,2021,Honda,Accord Sport 2.0T,5.0,36,4.0,2
2,2018,Cadillac,Escalade ESV Luxury,5.0,11,4.8,6
3,2020,Mercedes-Benz,E-Class E 450 4MATIC,5.0,10,4.8,1
4,2019,Mercedes-Benz,GLS 450 4MATIC,5.0,10,4.6,2
...,...,...,...,...,...,...,...
1299,2021,Bentley,Continental GT V8,3.3,1,3.5,1
1300,2021,Toyota,Supra 3.0 Premium,3.1,6,4.5,1
1301,2021,Cadillac,Escalade Sport,2.9,19,3.7,9
1302,2022,Volvo,XC60 B5 Inscription,2.7,1,4.9,2
1303,2019,Toyota,Mirai Base,2.5,3,4.4,2

In [94]:
#Based on highest Consumer Review > Consumer Rating > Total Listings
q2 = """
SELECT Year, 
Make, 
Model, 
CAST(AVG(ConsumerRating) AS DECIMAL (10,2)) AS ConsumerRating, 
ConsumerReviews, 
SellerRating, 
COUNT(*) AS total_listings
FROM car_sales
GROUP BY Model
ORDER BY ConsumerReviews DESC, ConsumerRating DESC, total_listings ASC
;
"""

pd.read_sql(q2,conn)

,Year,Make,Model,ConsumerRating,ConsumerReviews,SellerRating,total_listings
0,2018,Ford,F-150 XL,4.800000,817,4.4,7
1,2018,Ford,F-150 Lariat,4.785714,817,4.8,56
2,2017,Honda,CR-V Touring,4.761905,803,4.7,21
3,2018,Toyota,Camry XLE,4.750000,781,4.2,2
4,2018,Toyota,RAV4 XLE,4.750704,770,3.3,71
...,...,...,...,...,...,...,...
1299,2022,Subaru,BRZ Limited,4.700000,1,4.8,1
1300,2020,Lamborghini,Urus,4.700000,1,4.8,2
1301,2021,Tesla,Model 3 Performance,3.865217,1,4.5,23
1302,2021,Bentley,Continental GT V8,3.300000,1,3.5,1
1303,2022,Volvo,XC60 B5 Inscription,2.700000,1,4.9,2

In [96]:
#Define what is a popular car listing?

# - HIGHEST CONSUMER RATING: This would identify the car listing that has the highest average rating from consumers,
#   and would be a good metric for identifying the car that is the most highly-regarded by buyers.

# - HIGHEST CONSUMER REVIEW: This would identify the car listing that has the most reviews from consumers,
#   and would be a good metric for identifying the car that has generated the most interest or engagement from buyers.

# - TOTAL CAR LISTINGS: This would identify the number of cars available for sale by the marketplace,
#   and would be a good metric for identifying how in demand a car is. The more cars available, the least in demand it may be.

# - COUPLING METRICS: This would be a more precise identifier to pinpointing which car is most popular, 
#   depending on the defintion we choose.

In [64]:
#How to uniquely define a type of car? By country made, brand year, etc (1).
q3 = """
SELECT DISTINCT(model), Make
FROM car_sales
ORDER BY Make, Model
;
"""

pd.read_sql(q3,conn)

                                Model   Make
0                                 ILX  Acura
1       ILX Premium & A-SPEC Packages  Acura
2                 ILX Premium Package  Acura
3               ILX w/AcuraWatch Plus  Acura
4                   ILX w/Premium Pkg  Acura
...                               ...    ...
1299  XC90 T6 Inscription 6 Passenger  Volvo
1300  XC90 T6 Inscription 7 Passenger  Volvo
1301                 XC90 T6 Momentum  Volvo
1302     XC90 T6 Momentum 7 Passenger  Volvo
1303                 XC90 T6 R-Design  Volvo

[1304 rows x 2 columns]

In [65]:
#How to uniquely define a type of car? By country made, brand year, etc (2).
q4 = """
SELECT make, model
FROM car_sales
GROUP BY model
ORDER BY Make, Model
;
"""
pd.read_sql(q4,conn)

       Make                            Model
0     Acura                              ILX
1     Acura    ILX Premium & A-SPEC Packages
2     Acura              ILX Premium Package
3     Acura            ILX w/AcuraWatch Plus
4     Acura                ILX w/Premium Pkg
...     ...                              ...
1299  Volvo  XC90 T6 Inscription 6 Passenger
1300  Volvo  XC90 T6 Inscription 7 Passenger
1301  Volvo                 XC90 T6 Momentum
1302  Volvo     XC90 T6 Momentum 7 Passenger
1303  Volvo                 XC90 T6 R-Design

[1304 rows x 2 columns]