In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.Connection('car_sales.db')

df = pd.read_csv('Online_Cars_Sale_Marketplace_Data.csv')
df.to_sql('car_sales', conn, if_exists='replace', index=False)

9379

In [2]:
# Question 4: How many certified car listing versus cars that are used?

q0 = """
SELECT 
(SELECT COUNT('Used/New') FROM car_sales) as total_cars,
(SELECT COUNT("Used/New") FROM car_sales WHERE "Used/New" = 'Used') as count_of_used_cars,
(SELECT COUNT("Used/New") FROM car_sales WHERE "Used/New" LIKE '%Certified%') as count_of_certified_cars
;

"""

pd.read_sql(q0, conn)

   total_cars  count_of_used_cars  count_of_certified_cars
0        9379                7900                     1479

In [3]:
# Subquestion 4.1: How many percentage are certified cars and used cars?
q1 = """
SELECT 
ROUND((SELECT COUNT("Used/New") FROM car_sales WHERE "Used/New" = 'Used') * 100.0 / (SELECT COUNT("Used/New") FROM car_sales), 2) AS percentage_of_used,
ROUND((SELECT COUNT("Used/New") FROM car_sales WHERE "Used/New" LIKE '%Certified%') * 100.0 / (SELECT COUNT("Used/New") FROM car_sales), 2) AS percentage_of_certified;
"""

pd.read_sql(q1, conn)

   percentage_of_used  percentage_of_certified
0               84.23                    15.77

In [ ]:
# Subquestion 4.2: How many "new" cars are availiable? 

# From our initial finding, we found out that this dealship doesn't currently offer any new cars but rather used and certified cars.
# This is the main reason why we never incorporate any "new" cars in our queries. 

q2 = """
SELECT "Used/New", COUNT(*)
FROM car_sales
GROUP BY "Used/New" 
;
"""
pd.read_sql(q2, conn)